h1{
    color:#f96900;
}

p{
    color: rgb(202, 44, 44);
}


button{
    color: rgb(255, 255, 255);
    background-color: rgb(114, 103, 114);
}
h2{
    color: #FF5733;
}

body{
    background-color: #D6EAF8;
}
p{
    font-size: 16px;
    line-height: 1.5;
    border:2px solid #000000;
}
