div {
    background-color: rgb(101, 101, 156);
    color: white;
}

.heading {
    color: red;
}

/* h1 ,h2,h3 {
    color: green;
} */

button {
    background-color: black;
    color: white;


}


p {
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-decoration: line-through;
}

a {
    text-decoration: none;
}